@import "~bootstrap/scss/bootstrap";

body {
    background-color: #cfebff4e;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type='text']:disabled {
    color: #000;
}